@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(45deg, #FCC2FC, #B5F1CC );
  background-size: auto, auto;
  height: 100vh;
  font-family: 'Righteous', cursive;
  text-align: center;
}


